* {
    margin: 0;
    padding: 0;
}

span {
    padding: 5px;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.branch {
    padding-top: 20px;
    position: relative;
}

#fixed-size {
    padding: 7px 18px;
}

/* li position */
.branch li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
}

/* box */
.branch li a {
    border: 1px solid blue;
    padding: 6px 30px;
    text-decoration: none;
    color: blue;
    font-size: 11px;
    display: inline-block;
    transition: all 0.5s;
}

/* lines */
.branch li::before {
    content: '';
    position: absolute;
    top: 0;
    border-top: 1.5px solid blue;
    width: 50%;
    height: 20px;
    left: 0px;
}

.branch li::after {
    content: '';
    position: absolute;
    top: 0;
    border-top: 1.5px solid blue;
    width: 50%;
    height: 20px;
    right: 0px;
}

.tree li::after {
    border-left: 1px solid blue;
}

.branch li:only-child {
    padding-top: 0;
}

.branch li:first-child::before,
.branch li:last-child::after {
    display: none;
}

.branch li:only-child::after,
.branch li:only-child::before {
    display: none;
}

.branch li:last-child::before {
    border-right: 1.5px solid blue;
}

.branch ul::before {
    content: '';
    position: absolute;
    top: 0;
    border-left: 1.5px solid blue;
    width: 0;
    height: 20px;
}

/* hover connected to other lines */
.branch li a:hover,
.branch li a:hover+ul li a {
    background: orange;
    color: white;
    border: 1px solid orange;
    transition: 0.5s;
}

.branch li a:hover+ul li::after,
.branch li a:hover+ul li::before,
.branch li a:hover+ul::before,
.branch li a:hover+ul ul::before {
    border-color: orange;
    transition: 0.5s;
}
